# file-roller-kde-desktop-entry is free software: you can redistribute it 
# and/or modify it under the terms of the GNU General Public License as 
# published by the Free Software Foundation in version 2 of the License.

# file-roller-kde-desktop-entry is distributed in the hope that it will be 
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General 
# Public License for more details.

# You should have received a copy of the GNU General Public License along with
# file-roller-kde-desktop-entry. If not, see 
# <https://www.gnu.org/licenses/old-licenses>.

# Copyright (c) 2019 Florian Rademacher <florian.rademacher@fh-dortmund.de>

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,all/allfiles
Actions=compressIt
X-KDE-Priority=TopLevel

[Desktop Action compressIt]
Name=Compress
Name[de]=Komprimieren
Exec=create_zip.py %U
Icon=/usr/share/icons/Mint-Y/apps/64/file-roller
