# file-roller-kde-desktop-entry is free software: you can redistribute it 
# and/or modify it under the terms of the GNU General Public License as 
# published by the Free Software Foundation in version 2 of the License.

# file-roller-kde-desktop-entry is distributed in the hope that it will be 
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General 
# Public License for more details.

# You should have received a copy of the GNU General Public License along with
# file-roller-kde-desktop-entry. If not, see 
# <https://www.gnu.org/licenses/old-licenses>.

# Copyright (c) 2017 Florian Rademacher <florian.rademacher@fh-dortmund.de>

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/zip;application/x-tar;application/x-gtar;application/x-xz;application/x-rar-compressed;application/x-ace-compressed;application/x-7z-compressed;application/gzip;application/x-bzip2;application/x-arj;application/x-lzh;application/x-lzma;application/vnd.debian.binary-package;application/x-rpm;
Actions=extractHere
X-KDE-Priority=TopLevel

[Desktop Action extractHere]
Name=Extract extract
Name[de]=Hier entpacken
Exec=file-roller -h %u
Icon=/usr/share/icons/Mint-Y/apps/64/file-roller
